*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width: 100%;
}

button{
  background-color:rgb(89, 245, 89);
  color: white;
height: 100px;
width: 180px;
border-radius: 30px;
position: relative;
left: 10%;
top: 7%;
cursor: pointer;
font-size: 32px;
font-family: helvetica;
}
button:hover{
  color: white;
  background-color:rgb(98, 195, 98);
  height: 97px;
width: 178px;
font-size: 30px;
}
.blanko{
  top: 25%;
  position: absolute;
  min-height:500px;
  width: 100%;
  background-color:rgb(208, 208, 208);
}
